<header-component></header-component>

<div class="container">
    <section class="package-list-section">
        <h2 class="homepage-title text-center">Packages List Name</h2>
        <div class="row">
            <div class="col-6">
                <div class="packages-name-box">
                    <packages-list-group pages-data="pagesPackageDataLeft"></packages-list-group>
                </div>
            </div>
            <div class="col-6">
                <div class="packages-name-box">
                    <packages-list-group pages-data="pagesPackageDataRight"></packages-list-group>
                </div>
            </div>
        </div>
    </section>

    <section class="package-chart-section">
        <h2 class="homepage-title text-center">Packages Chart</h2>
        <div class="packages-chart-box">
            <canvas id="packages-bar-chart"></canvas>
        </div>
    </section>
</div>
