body {
  padding-bottom: 90px;
}

.homepage-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.package-list-section {
  margin-bottom: 60px;
}

.container {
  &.small {
    max-width: 720px;
  }
}

.drop-package-box {
  height: 100%;
}

.packages-compare-chart-container {
  overflow-x: scroll;
  .packages-compare-chart-box {
    height: 450px;
  }
}