<header-component></header-component>

<div class="container">
    <section class="package-list-section">
        <h2 class="homepage-title text-center">Pages List Name</h2>
        <div class="row">
            <div class="col-6">
                <div class="packages-name-box">
                    <packages-list-group pages-data="pagesPackageData"></packages-list-group>
                </div>
            </div>
            <div class="col-6">
                <div class="drop-package-box">
                    <packages-drop-zone-box on-compare-packages="initComparePackagesChart($event)"></packages-drop-zone-box>
                </div>
            </div>
        </div>
    </section>

    <!--<section class="package-chart-section">
        <h2 class="homepage-title text-center">Packages Chart</h2>
        <div class="packages-chart-box">
            <canvas id="packagpackages-compare-chart-boxes-bar-chart" height="6000"></canvas>
        </div>
    </section>-->

    <section class="package-compare-chart-section">
        <h2 class="homepage-title text-center">Packages Compare Chart</h2>
        <div class="packages-compare-chart-container">
            <div class="packages-compare-chart-box"
                 id="packages-compare-chart-box">
                <canvas id="packages-compare-bar-chart"></canvas>
            </div>
        </div>
    </section>
</div>

<div class="container small">
    <section class="package-search-section">
        <h2 class="homepage-title text-center">Search Package</h2>
        <div class="package-search-box">
            <packages-search-box packages-data="adjustPackageResult"
                                 pages-data="pagesPackageData"></packages-search-box>
        </div>
    </section>
</div>
